div {
  button {
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    background-color: #eeeeee;
    &:active {
      transform: scale(0.95);
    }
  }
}
